.Home_Content {
    background-color: #034071;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:10vh;
}

.heroContent {
    display: flex;
}

.Content_Imgs1 {
    margin-right: 20px;
}