#components-layout-demo-side .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}

.Sider {
  position: relative;
  top:0;
  left:0;
  background-color: #001529;
}