.Product_Container {
  padding: 2.5vh;
  display: flex;
  flex-direction: column;
  h1{
    margin-left:2vw;
  }
  .Container_Imgs {
    height: 30vh;
   
    position: relative;
    display: inline-block;
    
  }
}
.Container_Imgs .img-top{
  display: none;
  float: left;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
.Container_Imgs:hover .img-top {
  display: inline;
}

img{  
  border-radius: 7%;
  float: left;
  height: 35vh;
}

.Container_Text {
  
  width: 60vw;
}